
button {
    font-family: 'museo300', sans-serif;
}
.btn-block-item {
    display: flex;
    justify-content: space-between;
    .btn-description  {
        width: 150px;
        height: 40px;
        background: #fdf5f5;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
            background: #e6e7ea;
        }
    }
    .btn-like {
        background: none;
        border: none;
        height: max-content;
        width: max-content;
        padding: 0;
        cursor: pointer;
    }
}

.block_btn--movietab {
    padding: 0 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
}

.btn--movietab {
    width: auto;
    padding: 15px;
    margin-bottom: 5px;
    background: #5f9ea0;
    color: #ffffff;
    &:hover {
        background: #577d7e;
    }
    &.active {
        background: green;
    }
}